body {
  margin: 0;
  font-family: Satoshi Variable;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF5E0;
  color: #952043;
  overflow-x: hidden;
}

code {
  font-family: Satoshi Variable;
}
